// Layout
:root {
  --vh: 1vh;
}

body {
  margin: 0;
  font-size: calc(var(--vh) * 2.5);
  color: white;
  overflow: hidden;

  div.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;

    div.control-column {
      display: flex;
      flex-direction: column;
      height: calc(var(--vh) * 100);

      .info-button {
        flex: 0 0 calc(var(--vh) * 15);
      }
      .details-container {
        flex: 0 0 calc(var(--vh) * 65);
      }
      .play-button {
        flex: 1 0 calc(var(--vh) * 20);
      }
    }

    div.details {
      text-align: center;
      img#album-art {
        border: 1px solid white;
        box-sizing: border-box;
        max-height: calc(var(--vh) * 40);
        max-width: 40vw;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
      }
    }

    div.volume-column {
      button.volume-button {
        display: flex;
        flex-direction: column;
        height: calc(var(--vh) * 100);
        width: 100%;
        padding: 0;

        div.volume-spacer {
          flex: 1 0 auto;
          width: 100%;
        }

        div.volume-bar {
          flex: 0 0 0;
          width: 100%;
        }
      }
    }
  }

  button {
    border: 0;
  }

  .icon {
    max-height: calc(var(--vh) * 15);
  }

  #info-icon {
    max-height: calc(var(--vh) * 10);
  }
}

// Color / style
body {
  font-family: sans-serif;

  background-image: url("../../static/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60%;
  //background-attachment: fixed;
  background-color: #111;
  // Needed for cover to actually work on mobile. fun.
  height: calc(var(--vh) * 100);

  div.columns {
    button {
      background-color: #050509;
      opacity: 0.1;
    }

    @media (hover: none) {
      button {
        background-color: #050509;
        opacity: 0.8;
      }
    }
    button:hover {
      opacity: 0.8;
    }

    div.control-column {
      .icon {
        opacity: 0;
        fill: #fee;
      }

      @media (hover: none) {
        button {
          .icon {
            opacity: 1;
          }
        }
      }
      button:hover {
        .icon {
          opacity: 1;
        }
      }

      button:active {
        .icon {
          fill: #00ffff;
        }
      }
    }

    div.volume-column {
      div.volume-bar {
        background-color: #c0b0b0;
        opacity: 0;
      }

      @media (hover: none) {
        button {
          div.volume-bar {
            opacity: 1;
          }
        }
      }
      button:hover {
        div.volume-bar {
          opacity: 1;
        }
      }

      button:active {
        opacity: 0.8;
        div.volume-bar {
          opacity: 1;
          background-color: #00f0f0;
        }
      }
      button {
        div.active {
          opacity: 1;
          background-color: #00f0f0;
        }
      }
    }
  }
  .details-container {
    padding: min(5vw, calc(var(--vh) * 5));
    box-sizing: border-box;
    background-color: rgba(5, 5, 9, 0.1);
    .details {
      background-color: #050509;
      box-shadow: 0 0 min(1vw, calc(var(--vh))) min(1vw, calc(var(--vh))) #050509;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
